Repository PedakiHQ/pedaki, changes with the labels that .github/labeler.yml gives for each.
All labels: design, mailer, common, packages, 📚 documentation, 🖥️ www

.github/labeler.yml:

'design':
  - any:
      - 'packages/design/**'
      - '!packages/design/**/package.json'
'mailer':
  - any:
      - 'packages/mailer/**'
      - '!packages/mailer/**/package.json'
'common':
  - any:
      - 'packages/common/**'
      - '!packages/common/**/package.json'
'packages':
  - any:
      - 'packages/eslint-config/**'
      - '!packages/eslint-config/**/package.json'
      - 'packages/prettier-config/**'
      - '!packages/prettier-config/**/package.json'
'📚 documentation':
  - any:
      - 'docs/**'
      - '!docs/**/package.json'
'🖥️ www':
  - any:
      - 'www/**'
      - '!www/**/package.json'

mark www as private
  www/package.json
Labels: none

fix lock?
  .npmrc
  package.json
  www/.env.example
  www/.eslintrc.cjs
  www/package.json
  www/tsconfig.json
Labels: 🖥️ www

SKIP_ENV_VALIDATION in release
  .github/workflows/release.yml
Labels: none

allow dev deps in release install
  .github/workflows/release.yml
Labels: none

set link-workspace-packages to false
  .npmrc
Labels: none

reset pnpm-lock.yaml
  pnpm-lock.yaml
Labels: none

ignore www in build step
  .github/workflows/release.yml
  .npmrc
  pnpm-lock.yaml
  www/package.json
Labels: none

filter out www in release
  .github/workflows/release.yml
  .npmrc
  pnpm-lock.yaml
Labels: none

fix tailwind relative import
  www/src/services/github/roadmap.ts
  www/tailwind.config.cjs
Labels: 🖥️ www

add docs
  docs/.gitignore
  docs/.prettierignore
  docs/_snippets/snippet-example.mdx
  docs/_snippets/wip.mdx
  docs/documentation/introduction.mdx
  docs/faq/questions.mdx
  docs/favicon.png
  docs/mint.json
  docs/modules/class-management.mdx
  docs/modules/overview.mdx
  docs/news/2023/august/initial-press-release.mdx
  docs/news/overview.mdx
  docs/news/version/0.0.1.mdx
  docs/package.json
  docs/public/logo-dark.svg
  docs/public/logo-light.svg
  docs/resources/contributing.mdx
  docs/resources/migration/from-pronote.mdx
  docs/resources/migration/overview.mdx
  docs/resources/privacy.mdx
  docs/resources/self-host.mdx
  docs/resources/subscription.mdx
  docs/scripts/copy-assets.sh
  docs/support/introduction.mdx
  docs/support/roadmap.mdx
  pnpm-lock.yaml
Labels: 📚 documentation

mark docs as private
  docs/package.json
Labels: none

remove docs and www from changeset
  .changeset/config.json
Labels: none

Delete .changeset/renovate-f1f07d0.md
  .changeset/renovate-f1f07d0.md
Labels: none

feat: :sparkles: configure i18n
  .vscode/settings.json
  pnpm-lock.yaml
  www/package.json
  www/src/app/[locale]/(home)/@roadmap/card.tsx
  www/src/app/[locale]/(home)/@roadmap/error.tsx
  www/src/app/[locale]/(home)/@roadmap/footer.tsx
  www/src/app/[locale]/(home)/@roadmap/header.tsx
  www/src/app/[locale]/(home)/@roadmap/page.tsx
  www/src/app/[locale]/(home)/cta-bottom.tsx
  www/src/app/[locale]/(home)/features.tsx
  www/src/app/[locale]/(home)/hero.tsx
  www/src/app/[locale]/(home)/layout.tsx
  www/src/app/[locale]/(home)/page.tsx
  www/src/app/[locale]/(home)/providers.tsx
  www/src/app/[locale]/(home)/social-proof.tsx
  www/src/app/[locale]/(home)/video-demo.tsx
  www/src/app/[locale]/about/about-us.tsx
  www/src/app/[locale]/about/assets.tsx
  www/src/app/[locale]/about/brand-colors.tsx
  www/src/app/[locale]/about/fonts.tsx
  www/src/app/[locale]/about/naming.tsx
  www/src/app/[locale]/about/page.tsx
  www/src/app/[locale]/legal/privacy-policy/page.tsx
  www/src/app/[locale]/legal/terms-of-service/page.tsx
  www/src/app/[locale]/pricing/faq.tsx
  www/src/app/[locale]/pricing/page.tsx
  www/src/app/[locale]/pricing/price-table.tsx
  www/src/app/layout.tsx
  www/src/components/footer/LanguageSelector/LocaleItem.tsx
  www/src/components/footer/LanguageSelector/index.tsx
  www/src/components/footer/Status/index.tsx
  www/src/components/footer/index.tsx
  www/src/locales/client.ts
  www/src/locales/en/index.ts
  www/src/locales/fr/index.ts
  www/src/locales/server.ts
  www/src/middleware.ts
  www/tsconfig.json
Labels: 🖥️ www

feat: :wrench: add alias for public file
  www/src/app/[locale]/(home)/social-proof.tsx
  www/src/app/[locale]/(home)/video-demo.tsx
  www/tsconfig.json
Labels: 🖥️ www

fix: :bug: fix i18n types
  www/src/locales/client.ts
  www/src/locales/server.ts
Labels: 🖥️ www

chore: :wrench: update eslint config
  packages/eslint-config/index.js
Labels: none

feat: :sparkles: i18n about page
  www/src/app/[locale]/about/about-us.tsx
  www/src/app/[locale]/about/assets.tsx
  www/src/app/[locale]/about/brand-colors.tsx
  www/src/app/[locale]/about/fonts.tsx
  www/src/app/[locale]/about/naming.tsx
  www/src/app/[locale]/about/page.tsx
  www/src/locales/en/index.ts
  www/src/locales/fr/index.ts
  www/src/locales/fr/pages/about.ts
  www/src/locales/fr/pages/index.ts
Labels: 🖥️ www

feat: :sparkles: more pages
  www/src/app/[locale]/(home)/page.tsx
  www/src/app/[locale]/legal/privacy-policy/page.tsx
  www/src/app/[locale]/legal/terms-of-service/page.tsx
  www/src/app/[locale]/pricing/page.tsx
  www/src/locales/fr/pages/home.ts
  www/src/locales/fr/pages/index.ts
  www/src/locales/fr/pages/pricing.ts
  www/src/locales/fr/pages/privacy-policy.ts
  www/src/locales/fr/pages/terms-of-service.ts
Labels: 🖥️ www

feat: :sparkles: i18n footer
  www/src/app/[locale]/about/about-us.tsx
  www/src/components/footer/LanguageSelector/index.tsx
  www/src/components/footer/Status/index.tsx
  www/src/components/footer/index.tsx
  www/src/locales/fr/components/footer.ts
  www/src/locales/fr/components/header.ts
  www/src/locales/fr/components/index.ts
  www/src/locales/fr/index.ts
Labels: 🖥️ www

feat: :sparkles: i18n header
  www/src/components/header/desktop.tsx
  www/src/components/header/mobile.tsx
  www/src/components/header/signout-item.tsx
  www/src/components/header/user.tsx
  www/src/config/navigation.ts
  www/src/locales/fr/components/header.ts
Labels: 🖥️ www

test submodule
  .gitmodules
Labels: none

add null option for wrapWithLoader
  packages/common/src/utils/index.ts
  packages/common/src/utils/toast.ts
  packages/common/src/utils/wrap-with-loading.ts
  packages/design/src/tailwind/index.css
  packages/design/src/ui/form.tsx
  pnpm-lock.yaml
Labels: design, common

make all props optional in wrapWithLoading
  packages/common/src/utils/wrap-with-loading.ts
Labels: common

fix dist folder for mailer
  .changeset/config.json
  .changeset/dry-buckets-sin.md
  package.json
  packages/common/package.json
  packages/design/package.json
  packages/eslint-config/package.json
  packages/mailer/package.json
  pnpm-lock.yaml
Labels: none

remove template export in index
  packages/mailer/src/index.ts
Labels: mailer

fix dev mode resend
  packages/mailer/package.json
  packages/mailer/src/send-email.tsx
Labels: mailer

format
  packages/common/src/utils/wrap-with-loading.ts
  packages/design/src/tailwind/index.css
  pnpm-workspace.yaml
Labels: design, common

use tsup onSuccess instead of multiple scripts
  package.json
  packages/common/package.json
  packages/common/tsconfig.json
  packages/common/tsup.config.ts
  packages/design/package.json
  packages/design/tsconfig.json
  packages/design/tsup.config.ts
  packages/mailer/package.json
  packages/mailer/src/templates/confirm-email.tsx
  packages/mailer/src/type.ts
  packages/mailer/tsconfig.json
  packages/mailer/tsup.config.ts
  pnpm-lock.yaml
  scripts/prepare-dist.js
  turbo.json
Labels: design, mailer, common

add extensions in imports in mailer
  package.json
  packages/design/package.json
  packages/mailer/package.json
  packages/mailer/src/index.ts
  packages/mailer/src/send-email.tsx
  packages/mailer/src/templates/index.ts
  packages/mailer/src/type.ts
  packages/mailer/tsconfig.json
  packages/mailer/tsup.config.ts
  pnpm-lock.yaml
  turbo.json
Labels: mailer

add extensions in imports in common
  package.json
  packages/common/package.json
  packages/common/src/cache/cache.test.ts
  packages/common/src/cache/cache.ts
  packages/common/src/cache/index.ts
  packages/common/src/cache/memory-cache.ts
  packages/common/src/cache/shared.ts
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useEventListener.ts
  packages/common/src/hooks/useOnClickOutside.ts
  packages/common/src/utils/circle-gradient.ts
  packages/common/src/utils/colors.test.ts
  packages/common/src/utils/hash.test.ts
  packages/common/src/utils/math.test.ts
  packages/common/src/utils/random.test.ts
  packages/common/src/utils/wrap-with-loading.ts
  packages/common/tsconfig.json
  packages/common/tsup.config.ts
  packages/design/package.json
  packages/design/src/ui/burger/index.tsx
  packages/design/src/ui/callout/InfoCallout.tsx
  packages/design/src/ui/callout/index.tsx
  packages/eslint-config/index.js
  packages/mailer/package.json
  pnpm-lock.yaml
Labels: design, common

changeset
  .changeset/wise-candles-collect.md
Labels: none

prepare release
  .changeset/config.json
  .github/workflows/release.yml
  .npmrc
  packages/common/.eslintignore
  packages/common/tsconfig.json
  packages/design/.eslintignore
  packages/design/tsconfig.json
  packages/mailer/.eslintignore
  packages/mailer/tsconfig.json
Labels: design, mailer, common

changeset
  .changeset/wise-candles-collect.md
Labels: none

set NODE_ENV to prod in release
  .github/workflows/release.yml
Labels: none

changeset
  .changeset/wise-candles-collect.md
Labels: none

prepare package release
  .changeset/config.json
  .github/workflows/release.yml
  packages/design/.npmignore
  packages/design/src/css.d.ts
  pnpm-lock.yaml
Labels: design

ignore css.d.ts in output
  .changeset/beige-news-carry.md
  packages/design/tsup.config.ts
Labels: design

fix constants path import
  .changeset/shy-rice-sort.md
  packages/mailer/package.json
  packages/mailer/src/templates/confirm-email.tsx
Labels: mailer

remove test template
  packages/mailer/src/templates/confirm-email.tsx
Labels: mailer
