Repository PedakiHQ/pedaki, changes with the labels that .github/labeler.yml gives for each.
All labels: design, mailer, common, packages, 📚 documentation, 🖥️ www

.github/labeler.yml:

'design':
  - any:
      - 'packages/design/**'
      - '!packages/design/**/package.json'
'mailer':
  - any:
      - 'packages/mailer/**'
      - '!packages/mailer/**/package.json'
'common':
  - any:
      - 'packages/common/**'
      - '!packages/common/**/package.json'
'packages':
  - any:
      - 'packages/eslint-config/**'
      - '!packages/eslint-config/**/package.json'
      - 'packages/prettier-config/**'
      - '!packages/prettier-config/**/package.json'
'📚 documentation':
  - any:
      - 'docs/**'
      - '!docs/**/package.json'
'🖥️ www':
  - any:
      - 'www/**'
      - '!www/**/package.json'

remove turbo plugin
  .changeset/brown-peaches-cover.md
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/mailer/tsup.config.ts
  pnpm-lock.yaml
Labels: mailer

update deps
  .gitmodules
  README.md
  package.json
  packages/common/package.json
  packages/design/package.json
  packages/mailer/package.json
  pnpm-lock.yaml
Labels: none

fix: return result in wrapWithLoading
  packages/common/src/utils/wrap-with-loading.ts
Labels: common

prepare release
  .changeset/config.json
  .github/workflows/release.yml
  docs/.gitignore
  docs/public/logo-dark.svg
  docs/public/logo-light.svg
  docs/scripts/copy-assets.sh
  old/renovate-9c89d5d.md
  old/renovate-a7446f0.md
Labels: 📚 documentation

prepare release
  .changeset/config.json
  .github/workflows/release.yml
  docs/.gitignore
  docs/public/logo-dark.svg
  docs/public/logo-light.svg
  docs/scripts/copy-assets.sh
  old/renovate-9c89d5d.md
  old/renovate-a7446f0.md
Labels: 📚 documentation

fix lock
  .changesetold/config.json
  .changesetold/renovate-9c89d5d.md
  .changesetold/renovate-a7446f0.md
  pnpm-lock.yaml
Labels: none

fix lock
  .changeset/config.json
  .changeset/renovate-9c89d5d.md
  .changeset/renovate-a7446f0.md
  .github/workflows/release.yml
  packages/common/package.json
  packages/design/package.json
  packages/mailer/package.json
  pnpm-lock.yaml
Labels: none

fix peer dependencies
  .changeset/config.json
  .changeset/violet-apples-smile.md
  old/renovate-9c89d5d.md
  old/renovate-a7446f0.md
  packages/eslint-config/index.js
  packages/eslint-config/package.json
Labels: none

prepare release
  pnpm-lock.yaml
Labels: none

fix: cache value when using ignoreCache
  .changeset/config.json
  .changeset/renovate-9c89d5d.md
  .changeset/renovate-a7446f0.md
  .changeset/wise-lemons-rush.md
  packages/common/src/cache/cache.ts
  packages/common/src/cache/memory-cache.ts
  packages/common/src/cache/types.ts
Labels: common

feat: add encrypt/decrypt method using aes-256-gcm
  packages/common/src/utils/hash.test.ts
  packages/common/src/utils/hash.ts
  packages/common/src/utils/wrap-with-loading.ts
Labels: common

update deps
  package.json
  packages/common/package.json
  packages/design/package.json
  packages/mailer/package.json
  packages/prettier-config/package.json
  pnpm-lock.yaml
Labels: none

update deps
  package.json
  packages/common/src/utils/hash.ts
  pnpm-lock.yaml
Labels: common

changeset
  .changeset/pretty-moose-repair.md
Labels: none

format
  package.json
  packages/common/src/utils/hash.test.ts
  packages/common/src/utils/hash.ts
  packages/common/src/utils/wrap-with-loading.ts
  pnpm-lock.yaml
Labels: common

feat: add encrypt/decrypt method using aes-256-gcm (#53)
  .changeset/pretty-moose-repair.md
  package.json
  packages/common/package.json
  packages/common/src/utils/hash.test.ts
  packages/common/src/utils/hash.ts
  packages/common/src/utils/wrap-with-loading.ts
  packages/design/package.json
  packages/mailer/package.json
  packages/prettier-config/package.json
  pnpm-lock.yaml
Labels: common

add select
  packages/design/package.json
  packages/design/src/ui/icons/IconCircle.tsx
  packages/design/src/ui/icons/index.ts
  packages/design/src/ui/select.tsx
  pnpm-lock.yaml
Labels: design

add checkbox
  packages/design/src/ui/checkbox.tsx
Labels: design

changeset
  .changeset/khaki-months-buy.md
Labels: none

format
  packages/design/src/ui/checkbox.tsx
  packages/design/src/ui/icons/IconCircle.tsx
  packages/design/src/ui/select.tsx
Labels: design

feat: add select (#54)
  .changeset/khaki-months-buy.md
  packages/design/package.json
  packages/design/src/ui/checkbox.tsx
  packages/design/src/ui/icons/IconCircle.tsx
  packages/design/src/ui/icons/index.ts
  packages/design/src/ui/select.tsx
  pnpm-lock.yaml
Labels: design

fix: ring color
  packages/design/src/ui/form.tsx
  packages/design/src/ui/select.tsx
Labels: design

fix: better types
  packages/common/src/utils/wrap-with-loading.ts
Labels: common

fix: key in utf8
  packages/common/src/utils/hash.ts
Labels: common

fix: key length in tests
  packages/common/src/utils/hash.test.ts
  packages/common/src/utils/hash.ts
Labels: common

changeset
  .changeset/four-lions-fly.md
Labels: none

lock
  packages/common/package.json
  packages/design/package.json
  packages/eslint-config/package.json
  packages/mailer/package.json
  packages/prettier-config/package.json
  pnpm-lock.yaml
Labels: none

use radix colors
  packages/design/package.json
  packages/design/src/tailwind/index.css
  packages/design/src/tailwind/tailwind.config.ts
  packages/design/src/ui/accordion.tsx
  packages/design/src/ui/badge.tsx
  packages/design/src/ui/button.tsx
  packages/design/src/ui/checkbox.tsx
  packages/design/src/ui/dialog.tsx
  packages/design/src/ui/dropdown-menu.tsx
  packages/design/src/ui/form.tsx
  packages/design/src/ui/input.tsx
  packages/design/src/ui/navigation-menu.tsx
  packages/design/src/ui/select.tsx
  packages/design/src/ui/separator.tsx
  packages/design/src/ui/skeleton.tsx
  packages/design/src/ui/slider.tsx
  packages/design/src/ui/styled-link.tsx
  pnpm-lock.yaml
Labels: design

changeset
  .changeset/fuzzy-toes-occur.md
Labels: none

ring
  packages/design/src/tailwind/index.css
  packages/design/src/tailwind/tailwind.config.ts
  packages/design/src/ui/badge.tsx
  packages/design/src/ui/button.tsx
  packages/design/src/ui/checkbox.tsx
  packages/design/src/ui/dialog.tsx
  packages/design/src/ui/input.tsx
  packages/design/src/ui/select.tsx
  packages/design/src/ui/slider.tsx
  packages/design/src/ui/styled-link.tsx
Labels: design

unused vars
  packages/design/src/tailwind/index.css
  packages/design/src/tailwind/tailwind.config.ts
  packages/design/src/ui/button.tsx
  packages/design/src/ui/skeleton.tsx
  packages/design/src/ui/styled-link.tsx
Labels: design

use radix colors (#57)
  .changeset/fuzzy-toes-occur.md
  packages/design/package.json
  packages/design/src/tailwind/index.css
  packages/design/src/tailwind/tailwind.config.ts
  packages/design/src/ui/accordion.tsx
  packages/design/src/ui/badge.tsx
  packages/design/src/ui/button.tsx
  packages/design/src/ui/checkbox.tsx
  packages/design/src/ui/dialog.tsx
  packages/design/src/ui/dropdown-menu.tsx
  packages/design/src/ui/form.tsx
  packages/design/src/ui/input.tsx
  packages/design/src/ui/navigation-menu.tsx
  packages/design/src/ui/select.tsx
  packages/design/src/ui/separator.tsx
  packages/design/src/ui/skeleton.tsx
  packages/design/src/ui/slider.tsx
  packages/design/src/ui/styled-link.tsx
  pnpm-lock.yaml
Labels: design

add radix link in README.md
  packages/design/README.md
Labels: design

fix border color
  .changeset/yellow-dodos-fly.md
  packages/design/src/tailwind/index.css
  packages/design/src/tailwind/tailwind.config.ts
Labels: design

add dotted grid
  .changeset/moody-tomatoes-provide.md
  packages/design/src/tailwind/tailwind.config.ts
Labels: design

smaller container
  packages/design/src/tailwind/tailwind.config.ts
Labels: design

remove large padding
  packages/design/src/tailwind/tailwind.config.ts
Labels: design

add IconPedaki
  .changeset/seven-gifts-mix.md
  packages/design/src/ui/icons/IconPedaki.tsx
  packages/design/src/ui/icons/index.ts
Labels: design

styled-link is a button
  packages/design/src/ui/styled-link.tsx
Labels: design

add IconDotsH.tsx
  .changeset/seven-gifts-mix.md
  packages/design/src/tailwind/tailwind.config.ts
  packages/design/src/ui/form.tsx
  packages/design/src/ui/icons/IconDotsH.tsx
  packages/design/src/ui/icons/IconPedaki.tsx
  packages/design/src/ui/icons/index.ts
Labels: design
