Repository PedakiHQ/pedaki, changes with the labels that .github/labeler.yml gives for each.
All labels: design, mailer, common, packages, 📚 documentation, 🖥️ www

publish-release
  .github/workflows/release.yml
Labels: none

ci npm token
  .github/workflows/release.yml
Labels: none

remove pr test
  .github/workflows/release.yml
Labels: none

refactor: remove changesets (#86)
  .changeset/config.json
  .github/workflows/code-check.yml
  .github/workflows/release.yml
  .github/workflows/renovate-changeset.yml
  .github/workflows/snapshot-release.yml
  docs/package.json
  package.json
  packages/common/package.json
  packages/design/package.json
  packages/eslint-config/package.json
  packages/mailer/package.json
  packages/prettier-config/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/prepare-release.mjs
  scripts/publish-release.mjs
Labels: none

fix: add commitChanges step in prepare-release script
  scripts/prepare-release.mjs
Labels: none

"v0.4.2-beta.1"
  docs/package.json
  package.json
  packages/common/package.json
  packages/design/package.json
  packages/eslint-config/package.json
  packages/mailer/package.json
  packages/prettier-config/package.json
  pnpm-lock.yaml
Labels: none

fix: [bot]
  scripts/prepare-release.mjs
Labels: none

fix: version name commit
  scripts/prepare-release.mjs
Labels: none

fix: keep old version if version === current
  scripts/prepare-release.mjs
Labels: none

fix: validate input
  scripts/prepare-release.mjs
Labels: none

feat: add workflow dispatch release
  .github/workflows/release.yml
Labels: none

fix: run check as pre prepare-release script
  .npmrc
  package.json
  packages/common/package.json
  packages/design/package.json
  packages/eslint-config/package.json
  packages/mailer/package.json
  packages/mailer/src/send-email.tsx
  packages/prettier-config/package.json
Labels: mailer

fix: remove filter
  .github/workflows/release.yml
Labels: none

refactor: remove CHANGELOG
  .github/changeset-version.mjs
  .prettierignore
  packages/common/CHANGELOG.md
  packages/design/CHANGELOG.md
  packages/eslint-config/.prettierignore
  packages/eslint-config/CHANGELOG.md
  packages/mailer/CHANGELOG.md
  packages/prettier-config/.prettierignore
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
Labels: design, mailer, common

fix: tailwind-merge v2
  .prettierignore
  packages/design/src/utils/cn.ts
Labels: design

refactor: remove changeset deps
  package.json
  pnpm-lock.yaml
Labels: none

refactor: skip pre-release question for manual input
  package.json
  pnpm-lock.yaml
  scripts/prepare-release.mjs
Labels: none

refactor: add revertChange on error
  scripts/prepare-release.mjs
Labels: none

fix: deconstruct resend response
  packages/mailer/src/send-email.tsx
Labels: mailer

update nvmrc to 18.18
  .nvmrc
Labels: none

add cross-env
  package.json
  pnpm-lock.yaml
Labels: none

cross-env
  .nvmrc
  package.json
  pnpm-lock.yaml
Labels: none

react-email gitignore
  packages/mailer/.prettierignore
Labels: mailer

echo 1
  docs/package.json
Labels: none

fix: revertChange -> pull
  scripts/prepare-release.mjs
Labels: none

fix: export IconShoppingBag
  packages/design/src/ui/icons/index.ts
Labels: design

fix: export IconShoppingBag (#98)
  packages/design/src/ui/icons/index.ts
Labels: design

run tests in ci
  .github/workflows/code-check.yml
  vitest.workspace.ts
Labels: none

run tests in ci
  .github/workflows/code-check.yml
Labels: none

add json report
  vite.config.ts
Labels: none

oui ?
  package.json
  packages/common/package.json
Labels: none

disable watch by default
  vite.config.ts
Labels: none

fix test scope
  packages/common/tsconfig.json
  packages/common/vitest.config.js
  vite.config.ts
  vitest.config.js
  vitest.workspace.json
  vitest.workspace.ts
Labels: common

lint
  packages/common/.eslintrc.cjs
  packages/common/tsconfig.json
  packages/common/vitest.config.js
Labels: common

run tests in ci (#103)
  .github/workflows/code-check.yml
  package.json
  packages/common/.eslintrc.cjs
  packages/common/package.json
  packages/common/vitest.config.js
  vite.config.ts
  vitest.config.js
  vitest.workspace.json
Labels: common

fix: remove sender type
  packages/mailer/src/constants.ts
  packages/mailer/src/index.ts
  packages/mailer/src/type.ts
Labels: mailer

deps
  package.json
  packages/common/package.json
  packages/design/package.json
  packages/eslint-config/package.json
  packages/mailer/package.json
  packages/prettier-config/package.json
  pnpm-lock.yaml
Labels: none

fix: remove unused params
  packages/common/src/utils/navigation.ts
Labels: common

format
  packages/common/src/utils/navigation.ts
Labels: common

colors
  package.json
  packages/common/package.json
  packages/design/package.json
  packages/design/src/tailwind/index.css
  packages/design/src/tailwind/tailwind.config.ts
  packages/design/src/ui/badge.tsx
  packages/design/src/ui/button.tsx
  packages/design/src/ui/checkbox.tsx
  packages/design/src/ui/dialog.tsx
  packages/design/src/ui/input.tsx
  packages/design/src/ui/select.tsx
  packages/design/src/ui/slider.tsx
  packages/design/src/ui/styled-link.tsx
  packages/design/src/ui/switch.tsx
  packages/eslint-config/package.json
  packages/mailer/package.json
  pnpm-lock.yaml
Labels: design

.github/labeler.yml:

'design':
  - any:
      - 'packages/design/**'
      - '!packages/design/**/package.json'
'mailer':
  - any:
      - 'packages/mailer/**'
      - '!packages/mailer/**/package.json'
'common':
  - any:
      - 'packages/common/**'
      - '!packages/common/**/package.json'
'packages':
  - any:
      - 'packages/eslint-config/**'
      - '!packages/eslint-config/**/package.json'
      - 'packages/prettier-config/**'
      - '!packages/prettier-config/**/package.json'
'📚 documentation':
  - any:
      - 'docs/**'
      - '!docs/**/package.json'
'🖥️ www':
  - any:
      - 'www/**'
      - '!www/**/package.json'
