Repository PedakiHQ/pedaki, changes with the labels that .github/labeler.yml gives for each.
All labels: design, mailer, common, packages, 📚 documentation, 🖥️ www

fix: Skeleton background color
  packages/design/src/ui/skeleton.tsx
Labels: design

fix: remove default white background
  packages/design/src/tailwind/index.css
Labels: design

feat: add IconPanelLeftOpen & IconPanelLeftClose
  packages/design/src/ui/icons/IconPanelLeftClose.tsx
  packages/design/src/ui/icons/IconPanelLeftOpen.tsx
  packages/design/src/ui/icons/index.ts
Labels: design

feat: add IconPanelLeftOpen & IconPanelLeftClose (#127)
  packages/design/src/ui/icons/IconPanelLeftClose.tsx
  packages/design/src/ui/icons/IconPanelLeftOpen.tsx
  packages/design/src/ui/icons/index.ts
Labels: design

feat: add collapsible
  packages/design/package.json
  packages/design/src/tailwind/tailwind.config.ts
  packages/design/src/ui/collapsible.tsx
  packages/design/src/ui/icons/IconPanelLeftClose.tsx
  packages/design/src/ui/icons/IconPanelLeftOpen.tsx
  packages/design/src/ui/icons/IconSettings.tsx
  packages/design/src/ui/icons/index.ts
  pnpm-lock.yaml
Labels: design

fix: replace TooltipProvider forwardRef
  packages/design/src/ui/collapsible.tsx
  packages/design/src/ui/tooltip.tsx
Labels: design

feat: add IconBookUser and IconUserGroups
  packages/design/src/ui/icons/IconBookUser.tsx
  packages/design/src/ui/icons/IconUserGroups.tsx
  packages/design/src/ui/icons/index.ts
Labels: design

feat: add IconHome
  packages/design/src/ui/icons/IconHome.tsx
  packages/design/src/ui/icons/index.ts
Labels: design

feat: add @tailwindcss/container-queries plugin
  packages/design/package.json
  packages/design/src/tailwind/tailwind.config.ts
  pnpm-lock.yaml
Labels: design

feat: add white variant for StyledLink
  packages/design/src/ui/styled-link.tsx
Labels: design

update dependencies
  docs/package.json
  package.json
  packages/common/package.json
  packages/design/package.json
  packages/eslint-config/package.json
  packages/mailer/package.json
  pnpm-lock.yaml
Labels: none

feat: add useBeforeUnload hook
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useBeforeUnload.ts
  packages/common/src/hooks/util.ts
  packages/design/src/ui/input.tsx
Labels: design, common

feat: add animation hover dropdown item
  packages/design/src/tailwind/tailwind.config.ts
  packages/design/src/ui/dropdown-menu.tsx
Labels: design

style: Select with icon
  packages/design/src/ui/select.tsx
Labels: design

style: form message same size as form description
  packages/design/src/ui/form.tsx
Labels: design

feat: wrapWithLoading add sharedProps
  packages/common/src/utils/wrap-with-loading.ts
Labels: common

add padding on dropdown submenu trigger
  packages/design/src/ui/dropdown-menu.tsx
Labels: design

add IconLogout
  packages/design/src/ui/icons/IconLogout.tsx
  packages/design/src/ui/icons/index.ts
Labels: design

add gap-2 by default
  packages/design/src/ui/dropdown-menu.tsx
Labels: design

add padding on dropdown submenu trigger (#133)
  packages/design/src/ui/dropdown-menu.tsx
  packages/design/src/ui/icons/IconLogout.tsx
  packages/design/src/ui/icons/index.ts
Labels: design

add icons
  packages/design/src/ui/icons/IconCursorOnSquareDashed.tsx
  packages/design/src/ui/icons/IconFileDown.tsx
  packages/design/src/ui/icons/IconOpenBookText.tsx
  packages/design/src/ui/icons/IconPaintBrush.tsx
  packages/design/src/ui/icons/IconUserPlus.tsx
  packages/design/src/ui/icons/IconWand2.tsx
  packages/design/src/ui/icons/index.ts
Labels: design

Add more icons (#134)
  packages/design/src/ui/icons/IconCursorOnSquareDashed.tsx
  packages/design/src/ui/icons/IconFileDown.tsx
  packages/design/src/ui/icons/IconOpenBookText.tsx
  packages/design/src/ui/icons/IconPaintBrush.tsx
  packages/design/src/ui/icons/IconUserPlus.tsx
  packages/design/src/ui/icons/IconWand2.tsx
  packages/design/src/ui/icons/index.ts
Labels: design

jsp
  packages/design/package.json
  packages/design/src/ui/card.tsx
  packages/design/src/ui/icons/IconBookMarked.tsx
  packages/design/src/ui/icons/index.ts
  packages/design/src/ui/progress.tsx
  pnpm-lock.yaml
Labels: design

fix deps
  packages/design/package.json
Labels: none

jsp
  package.json
  packages/common/package.json
  packages/design/package.json
  packages/mailer/package.json
  packages/prettier-config/package.json
  pnpm-lock.yaml
Labels: none

foramt
  packages/design/src/ui/card.tsx
  packages/design/src/ui/icons/IconBookMarked.tsx
  packages/design/src/ui/progress.tsx
Labels: design

add progress component (#135)
  package.json
  packages/common/package.json
  packages/design/package.json
  packages/design/src/ui/card.tsx
  packages/design/src/ui/icons/IconBookMarked.tsx
  packages/design/src/ui/icons/index.ts
  packages/design/src/ui/progress.tsx
  packages/mailer/package.json
  packages/prettier-config/package.json
  pnpm-lock.yaml
Labels: design

update dependencies
  docs/package.json
  package.json
  packages/common/package.json
  packages/design/package.json
  packages/eslint-config/package.json
  packages/mailer/package.json
  packages/prettier-config/package.json
  pnpm-lock.yaml
Labels: none

add IconUpload, IconDownload, IconColumns2
  packages/design/src/ui/icons/IconColumns2.tsx
  packages/design/src/ui/icons/IconDownload.tsx
  packages/design/src/ui/icons/IconUpload.tsx
  packages/design/src/ui/icons/index.ts
Labels: design

add IconPlus
  packages/design/src/ui/icons/IconPlus.tsx
  packages/design/src/ui/icons/index.ts
Labels: design

add pagination
  docs/package.json
  package.json
  packages/common/package.json
  packages/design/package.json
  packages/design/src/ui/button.tsx
  packages/design/src/ui/icons/IconChevronLeft.tsx
  packages/design/src/ui/icons/IconChevronsLeft.tsx
  packages/design/src/ui/icons/IconChevronsRight.tsx
  packages/design/src/ui/icons/IconColumns2.tsx
  packages/design/src/ui/icons/IconGripVertical.tsx
  packages/design/src/ui/icons/IconMoreHorizontal.tsx
  packages/design/src/ui/icons/IconPlus.tsx
  packages/design/src/ui/icons/IconUpload.tsx
  packages/design/src/ui/icons/index.ts
  packages/design/src/ui/pagination.tsx
  packages/design/src/ui/resizable.tsx
  packages/design/tsconfig.json
  packages/eslint-config/package.json
  packages/mailer/package.json
  pnpm-lock.yaml
Labels: design

add generatePagination tool
  packages/common/src/utils/generatePagination.ts
  packages/design/src/ui/pagination.tsx
Labels: design, common

add table component
  packages/design/src/ui/table.tsx
Labels: design

add IconArrowDown, IconArrowUp, IconCaretSort, IconEyeNone, IconSettings2
  packages/common/src/utils/generatePagination.ts
  packages/design/src/tailwind/index.css
  packages/design/src/ui/button.tsx
  packages/design/src/ui/icons/IconArrowDown.tsx
  packages/design/src/ui/icons/IconArrowUp.tsx
  packages/design/src/ui/icons/IconCaretSort.tsx
  packages/design/src/ui/icons/IconEyeNone.tsx
  packages/design/src/ui/icons/IconSettings2.tsx
  packages/design/src/ui/icons/index.ts
  packages/design/src/ui/pagination.tsx
  packages/design/src/ui/table.tsx
Labels: design, common

add popover
  packages/design/package.json
  packages/design/src/tailwind/index.css
  packages/design/src/ui/button.tsx
  packages/design/src/ui/icons/IconTrash.tsx
  packages/design/src/ui/icons/index.ts
  packages/design/src/ui/popover.tsx
  pnpm-lock.yaml
Labels: design

add orientation in ScrollArea
  packages/design/src/ui/scroll-area.tsx
Labels: design

add sheet
  packages/design/src/tailwind/index.css
  packages/design/src/tailwind/tailwind.config.ts
  packages/design/src/ui/button.tsx
  packages/design/src/ui/dialog.tsx
  packages/design/src/ui/icons/IconTrash.tsx
  packages/design/src/ui/pagination.tsx
  packages/design/src/ui/popover.tsx
  packages/design/src/ui/scroll-area.tsx
  packages/design/src/ui/sheet.tsx
  packages/design/src/ui/table.tsx
Labels: design

update lockfile
  package.json
  packages/design/package.json
  pnpm-lock.yaml
Labels: none

format
  packages/common/src/utils/generatePagination.ts
  packages/common/tsconfig.json
  packages/mailer/tsconfig.json
Labels: mailer, common

fix IconEyeNone props
  packages/design/src/ui/icons/IconEyeNone.tsx
Labels: design

.github/labeler.yml:

'design':
  - any:
      - 'packages/design/**'
      - '!packages/design/**/package.json'
'mailer':
  - any:
      - 'packages/mailer/**'
      - '!packages/mailer/**/package.json'
'common':
  - any:
      - 'packages/common/**'
      - '!packages/common/**/package.json'
'packages':
  - any:
      - 'packages/eslint-config/**'
      - '!packages/eslint-config/**/package.json'
      - 'packages/prettier-config/**'
      - '!packages/prettier-config/**/package.json'
'📚 documentation':
  - any:
      - 'docs/**'
      - '!docs/**/package.json'
'🖥️ www':
  - any:
      - 'www/**'
      - '!www/**/package.json'
