Repository PedakiHQ/pedaki, changes with the labels that .github/labeler.yml gives for each.
All labels: design, mailer, common, packages, 📚 documentation, 🖥️ www

.github/labeler.yml:

'design':
  - any:
      - 'packages/design/**'
      - '!packages/design/**/package.json'
'mailer':
  - any:
      - 'packages/mailer/**'
      - '!packages/mailer/**/package.json'
'common':
  - any:
      - 'packages/common/**'
      - '!packages/common/**/package.json'
'packages':
  - any:
      - 'packages/eslint-config/**'
      - '!packages/eslint-config/**/package.json'
      - 'packages/prettier-config/**'
      - '!packages/prettier-config/**/package.json'
'📚 documentation':
  - any:
      - 'docs/**'
      - '!docs/**/package.json'
'🖥️ www':
  - any:
      - 'www/**'
      - '!www/**/package.json'

oui
  packages/design/src/tailwind/index.css
  packages/design/src/tailwind/tailwind.config.ts
  packages/design/src/ui/accordion.tsx
  packages/design/src/ui/button.tsx
  packages/design/src/ui/callout/index.tsx
  packages/design/src/ui/card.tsx
  packages/design/src/ui/dialog.tsx
  packages/design/src/ui/dropdown-menu.tsx
  packages/design/src/ui/form.tsx
  packages/design/src/ui/input.tsx
  packages/design/src/ui/navigation-menu.tsx
  packages/design/src/ui/select.tsx
  packages/design/src/ui/slider.tsx
  packages/design/src/ui/styled-link.tsx
  packages/design/src/ui/switch.tsx
  packages/design/src/ui/tooltip.tsx
Labels: design

styled link
  packages/design/src/tailwind/index.css
  packages/design/src/tailwind/tailwind.config.ts
  packages/design/src/ui/styled-link.tsx
Labels: design

accordion
  packages/design/src/tailwind/index.css
  packages/design/src/tailwind/tailwind.config.ts
  packages/design/src/ui/accordion.tsx
  packages/design/src/ui/separator.tsx
Labels: design

4
  packages/design/src/ui/separator.tsx
  packages/design/src/ui/styled-link.tsx
Labels: design

hover
  packages/design/src/ui/button.tsx
Labels: design

muted
  packages/design/src/ui/callout/InfoCallout.tsx
  packages/design/src/ui/dialog.tsx
  packages/design/src/ui/input.tsx
  packages/design/src/ui/select.tsx
Labels: design

format
  packages/design/src/ui/accordion.tsx
  packages/design/src/ui/styled-link.tsx
Labels: design

refactor: update colors system (#109)
  package.json
  packages/common/package.json
  packages/design/package.json
  packages/design/src/tailwind/index.css
  packages/design/src/tailwind/tailwind.config.ts
  packages/design/src/ui/accordion.tsx
  packages/design/src/ui/badge.tsx
  packages/design/src/ui/button.tsx
  packages/design/src/ui/callout/InfoCallout.tsx
  packages/design/src/ui/callout/index.tsx
  packages/design/src/ui/card.tsx
  packages/design/src/ui/checkbox.tsx
  packages/design/src/ui/dialog.tsx
  packages/design/src/ui/dropdown-menu.tsx
  packages/design/src/ui/form.tsx
  packages/design/src/ui/input.tsx
  packages/design/src/ui/navigation-menu.tsx
  packages/design/src/ui/select.tsx
  packages/design/src/ui/separator.tsx
  packages/design/src/ui/slider.tsx
  packages/design/src/ui/styled-link.tsx
  packages/design/src/ui/switch.tsx
  packages/design/src/ui/tooltip.tsx
  packages/eslint-config/package.json
  packages/mailer/package.json
  pnpm-lock.yaml
Labels: design

add-icon-book-text
  packages/design/src/ui/icons/IconBookText.tsx
  packages/design/src/ui/icons/index.ts
Labels: design

add Button lighter primary
  packages/design/src/ui/button.tsx
Labels: design

add-icon-book-text (#110)
  packages/design/src/ui/button.tsx
  packages/design/src/ui/icons/IconBookText.tsx
  packages/design/src/ui/icons/index.ts
Labels: design

add-icon-account-pin
  packages/design/src/ui/icons/IconAccountPin.tsx
  packages/design/src/ui/icons/index.ts
Labels: design

font-sizes
  packages/design/src/tailwind/tailwind.config.ts
  packages/design/src/ui/icons/IconAccountPin.tsx
  packages/design/src/utils/cn.ts
Labels: design

add-icon-account-pin (#111)
  packages/design/src/tailwind/tailwind.config.ts
  packages/design/src/ui/icons/IconAccountPin.tsx
  packages/design/src/ui/icons/index.ts
  packages/design/src/utils/cn.ts
Labels: design

fix: letter-spacing
  packages/design/src/tailwind/tailwind.config.ts
  packages/design/src/ui/accordion.tsx
  packages/design/src/ui/badge.tsx
  packages/design/src/ui/button.tsx
  packages/design/src/ui/callout/index.tsx
  packages/design/src/ui/card.tsx
  packages/design/src/ui/dialog.tsx
  packages/design/src/ui/dropdown-menu.tsx
  packages/design/src/ui/form.tsx
  packages/design/src/ui/input.tsx
  packages/design/src/ui/label.tsx
  packages/design/src/ui/navigation-menu.tsx
  packages/design/src/ui/select.tsx
  packages/design/src/ui/tooltip.tsx
Labels: design

format
  packages/design/src/ui/accordion.tsx
  packages/design/src/ui/callout/index.tsx
  packages/design/src/ui/dropdown-menu.tsx
  packages/design/src/ui/form.tsx
  packages/design/src/ui/input.tsx
  packages/design/src/ui/select.tsx
  packages/design/src/ui/tooltip.tsx
  packages/design/src/utils/cn.ts
Labels: design

add IconInfoCircleFill
  packages/design/src/ui/icons/IconInfoCircleFill.tsx
  packages/design/src/ui/icons/index.ts
Labels: design

add more icons
  packages/design/src/ui/form.tsx
  packages/design/src/ui/icons/IconLink.tsx
  packages/design/src/ui/icons/IconMail.tsx
  packages/design/src/ui/icons/IconUser.tsx
  packages/design/src/ui/icons/index.ts
  packages/design/src/ui/input.tsx
Labels: design

deps
  package.json
  packages/common/package.json
  packages/design/package.json
  packages/design/src/ui/button.tsx
  packages/design/src/ui/checkbox-card.tsx
  packages/design/src/ui/form.tsx
  packages/design/src/ui/icons/IconInfoCircleFill.tsx
  packages/design/src/ui/icons/IconLink.tsx
  packages/design/src/ui/icons/IconMail.tsx
  packages/design/src/ui/icons/IconUser.tsx
  packages/design/src/ui/input.tsx
  packages/mailer/package.json
  packages/prettier-config/package.json
  pnpm-lock.yaml
Labels: design

checkbox card
  packages/design/src/ui/button.tsx
  packages/design/src/ui/checkbox-card.tsx
Labels: design

add IconSchool.tsx
  packages/design/src/ui/icons/IconMail.tsx
  packages/design/src/ui/icons/IconSchool.tsx
  packages/design/src/ui/icons/index.ts
Labels: design

add icons for app.pedaki.fr (#117)
  package.json
  packages/common/package.json
  packages/design/package.json
  packages/design/src/ui/checkbox-card.tsx
  packages/design/src/ui/form.tsx
  packages/design/src/ui/icons/IconInfoCircleFill.tsx
  packages/design/src/ui/icons/IconLink.tsx
  packages/design/src/ui/icons/IconMail.tsx
  packages/design/src/ui/icons/IconSchool.tsx
  packages/design/src/ui/icons/IconUser.tsx
  packages/design/src/ui/icons/index.ts
  packages/design/src/ui/input.tsx
  packages/mailer/package.json
  packages/prettier-config/package.json
  pnpm-lock.yaml
Labels: design

stroke-primary-main
  packages/design/src/ui/button.tsx
  packages/design/src/ui/form.tsx
Labels: design

stroke-primary-main
  packages/design/src/ui/button.tsx
  packages/design/src/ui/form.tsx
Labels: design

stroke-primary-main (#118)
  packages/design/src/ui/button.tsx
  packages/design/src/ui/form.tsx
Labels: design

add filled-error variant
  packages/design/src/ui/button.tsx
Labels: design

add filled-error button variant (#119)
  packages/design/src/ui/button.tsx
Labels: design

fix text size
  packages/design/src/tailwind/index.css
  packages/design/src/tailwind/tailwind.config.ts
  packages/design/src/ui/badge.tsx
  packages/design/src/ui/dropdown-menu.tsx
  packages/design/src/ui/navigation-menu.tsx
  packages/design/src/ui/tooltip.tsx
Labels: design

fix optional version param
  scripts/prepare-release.mjs
Labels: none

add icon lock
  packages/design/src/ui/icons/IconLock.tsx
  packages/design/src/ui/icons/index.ts
Labels: design

add icon lock (#121)
  packages/design/src/ui/icons/IconLock.tsx
  packages/design/src/ui/icons/index.ts
Labels: design

update deps
  docs/package.json
  package.json
  packages/common/package.json
  packages/design/package.json
  packages/eslint-config/package.json
  packages/mailer/package.json
  pnpm-lock.yaml
Labels: none

update deps
  package.json
Labels: none

format
  packages/common/src/utils/wait.ts
Labels: common

fix type DialogPortal
  packages/design/src/ui/dialog.tsx
Labels: design

add step indicator
  packages/design/src/ui/dialog.tsx
  packages/design/src/ui/step-indicator/horizontal/index.tsx
  packages/design/src/ui/step-indicator/horizontal/item.tsx
  pnpm-lock.yaml
Labels: design

format
  packages/common/src/utils/wait.ts
  packages/design/src/ui/step-indicator/horizontal/index.tsx
  packages/design/src/ui/step-indicator/horizontal/item.tsx
Labels: design, common

remove stepper
  packages/design/src/ui/step-indicator/horizontal/index.tsx
  packages/design/src/ui/step-indicator/horizontal/item.tsx
Labels: design

fix format issues (#123)
  packages/common/src/utils/wait.ts
  packages/design/src/ui/dialog.tsx
  pnpm-lock.yaml
Labels: design, common

feat: add bg-border class
  packages/design/src/tailwind/tailwind.config.ts
Labels: design
