Repository PedakiHQ/pedaki, changes with the labels that .github/labeler.yml gives for each.
All labels: design, mailer, common, packages, 📚 documentation, 🖥️ www

.github/labeler.yml:

'design':
  - any:
      - 'packages/design/**'
      - '!packages/design/**/package.json'
'mailer':
  - any:
      - 'packages/mailer/**'
      - '!packages/mailer/**/package.json'
'common':
  - any:
      - 'packages/common/**'
      - '!packages/common/**/package.json'
'packages':
  - any:
      - 'packages/eslint-config/**'
      - '!packages/eslint-config/**/package.json'
      - 'packages/prettier-config/**'
      - '!packages/prettier-config/**/package.json'
'📚 documentation':
  - any:
      - 'docs/**'
      - '!docs/**/package.json'
'🖥️ www':
  - any:
      - 'www/**'
      - '!www/**/package.json'

Add switch component
  .changeset/ten-ghosts-cross.md
  packages/design/package.json
  packages/design/src/tailwind/index.css
  packages/design/src/ui/accordion.tsx
  packages/design/src/ui/badge.tsx
  packages/design/src/ui/button.tsx
  packages/design/src/ui/checkbox.tsx
  packages/design/src/ui/dialog.tsx
  packages/design/src/ui/icons/IconDotsH.tsx
  packages/design/src/ui/icons/IconQuestionCircleFill.tsx
  packages/design/src/ui/icons/index.ts
  packages/design/src/ui/input.tsx
  packages/design/src/ui/select.tsx
  packages/design/src/ui/slider.tsx
  packages/design/src/ui/styled-link.tsx
  packages/design/src/ui/switch.tsx
  packages/design/src/ui/tooltip.tsx
  pnpm-lock.yaml
Labels: design

add wait util
  .changeset/brave-trainers-tell.md
  packages/common/src/utils/wait.ts
  packages/design/src/ui/button.tsx
  packages/design/src/ui/styled-link.tsx
Labels: design, common

add IconCalendarX, IconSearch, IconShoppingBag
  .changeset/young-tigers-fail.md
  packages/design/src/tailwind/index.css
  packages/design/src/ui/icons/IconCalendarX.tsx
  packages/design/src/ui/icons/IconSearch.tsx
  packages/design/src/ui/icons/IconShoppingBag.tsx
  packages/design/src/ui/icons/index.ts
Labels: design

add is-network-error util
  packages/common/src/utils/is-network-error.ts
Labels: common

add @tanstack/eslint-plugin-query
  .changeset/honest-feet-kneel.md
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Labels: none

remove string input in circle-gradient.ts
  packages/common/src/utils/circle-gradient.ts
  packages/common/src/utils/colors.ts
  packages/common/src/utils/hash.ts
Labels: common

add SuccessCallout
  .changeset/two-trainers-confess.md
  packages/design/src/ui/callout/SuccessCallout.tsx
Labels: design

add IconMailSearch.tsx
  packages/design/src/ui/icons/IconMailSearch.tsx
  packages/design/src/ui/icons/index.ts
Labels: design

add IconTada
  .changeset/lovely-berries-pump.md
  packages/design/src/ui/icons/IconTada.tsx
  packages/design/src/ui/icons/IconTadaColor.tsx
  packages/design/src/ui/icons/index.ts
Labels: design

revert
  packages/common/src/utils/wait.ts
Labels: common

add red button variant
  packages/design/src/ui/avatar.tsx
  packages/design/src/ui/button.tsx
Labels: design

lock
  package.json
  packages/common/package.json
  packages/design/package.json
  packages/eslint-config/package.json
  packages/mailer/package.json
Labels: none

keep mailer templates
  packages/mailer/src/templates/.keep
Labels: mailer

lock
  pnpm-lock.yaml
Labels: none

format
  packages/common/src/utils/colors.ts
  packages/common/src/utils/hash.ts
  packages/common/src/utils/is-network-error.ts
  packages/common/src/utils/wait.ts
  packages/design/src/tailwind/index.css
  packages/design/src/ui/button.tsx
  packages/design/src/ui/callout/SuccessCallout.tsx
  packages/design/src/ui/icons/IconCalendarX.tsx
  packages/design/src/ui/icons/IconMailSearch.tsx
  packages/design/src/ui/icons/IconSearch.tsx
  packages/design/src/ui/icons/IconShoppingBag.tsx
  packages/design/src/ui/icons/IconTada.tsx
  packages/design/src/ui/icons/IconTadaColor.tsx
  packages/design/src/ui/styled-link.tsx
  packages/eslint-config/index.js
Labels: design, common

lock
  pnpm-lock.yaml
Labels: none

chore: update package.json license
  docs/package.json
  packages/common/package.json
  packages/design/package.json
  packages/eslint-config/package.json
  packages/mailer/package.json
  packages/prettier-config/package.json
Labels: none

feat: :tada: configure app with image
  .gitignore
  app/.eslintrc.json
  app/.gitignore
  app/Dockerfile
  app/README.md
  app/next.config.js
  app/package-lock.json
  app/package.json
  app/postcss.config.js
  app/public/next.svg
  app/public/vercel.svg
  app/src/app/favicon.ico
  app/src/app/globals.css
  app/src/app/layout.tsx
  app/src/app/page.tsx
  app/tailwind.config.ts
  app/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: github action
  .github/workflows/push-registry.yml
Labels: none

feat: :tada: configure app with image (#72)
  .github/workflows/push-registry.yml
  .gitignore
  app/.eslintrc.json
  app/.gitignore
  app/Dockerfile
  app/README.md
  app/next.config.js
  app/package-lock.json
  app/package.json
  app/postcss.config.js
  app/public/next.svg
  app/public/vercel.svg
  app/src/app/favicon.ico
  app/src/app/globals.css
  app/src/app/layout.tsx
  app/src/app/page.tsx
  app/tailwind.config.ts
  app/tsconfig.json
  docs/package.json
  packages/common/package.json
  packages/design/package.json
  packages/eslint-config/package.json
  packages/mailer/package.json
  packages/prettier-config/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

feat: :sparkles: test value env
  app/.env
  app/Dockerfile
  app/src/app/page.tsx
Labels: none

feat: :sparkles: test value env (#75)
  app/.env
  app/Dockerfile
  app/src/app/page.tsx
Labels: none

refactor: :fire: delete app folder
  .github/workflows/push-registry.yml
  app/.eslintrc.json
  app/.gitignore
  app/README.md
  app/next.config.js
  app/package-lock.json
  app/package.json
  app/postcss.config.js
  app/public/next.svg
  app/public/vercel.svg
  app/src/app/favicon.ico
  app/src/app/globals.css
  app/src/app/layout.tsx
  app/tailwind.config.ts
  app/tsconfig.json
  pnpm-workspace.yaml
Labels: none

refactor: :fire: delete app folder (#77)
  .github/workflows/push-registry.yml
  app/.eslintrc.json
  app/.gitignore
  app/README.md
  app/next.config.js
  app/package-lock.json
  app/package.json
  app/postcss.config.js
  app/public/next.svg
  app/public/vercel.svg
  app/src/app/favicon.ico
  app/src/app/globals.css
  app/src/app/layout.tsx
  app/tailwind.config.ts
  app/tsconfig.json
  pnpm-workspace.yaml
Labels: none

refactor: :fire: finalize removing of app folder #77
  app/.env
  app/Dockerfile
  app/src/app/page.tsx
Labels: none

refactor: :fire: finalize removing of app folder #77 (#79)
  app/.env
  app/Dockerfile
  app/src/app/page.tsx
Labels: none

style: Add scrollbar-gutter stable by default
  .changeset/mean-pandas-poke.md
  packages/common/package.json
  packages/design/package.json
  packages/design/src/tailwind/index.css
  packages/mailer/package.json
  pnpm-lock.yaml
Labels: design

style: Add scrollbar-gutter stable by default
  .changeset/mean-pandas-poke.md
  packages/common/package.json
  packages/design/package.json
  packages/design/src/tailwind/index.css
  packages/mailer/package.json
  pnpm-lock.yaml
Labels: design

style: revert scrollbar-gutter stable
  .changeset/quiet-rules-admire.md
  packages/design/src/tailwind/index.css
Labels: design

remove static images
  .github/images/README.md
  .github/images/banner.png
  README.md
  docs/scripts/copy-assets.sh
Labels: 📚 documentation

remove min es-syntax
  .changeset/silly-tables-worry.md
  packages/eslint-config/index.js
  packages/eslint-config/package.json
Labels: none

remove static images (#83)
  .changeset/silly-tables-worry.md
  .github/images/README.md
  .github/images/banner.png
  README.md
  docs/scripts/copy-assets.sh
  packages/eslint-config/index.js
  packages/eslint-config/package.json
Labels: 📚 documentation

start script
  .changeset/config.json
  docs/package.json
  package.json
  packages/common/package.json
  packages/design/package.json
  packages/eslint-config/package.json
  packages/mailer/package.json
  packages/prettier-config/package.json
  pnpm-lock.yaml
  scripts/release.mjs
Labels: none

lint-staged
  package.json
  pnpm-lock.yaml
Labels: none

fix draft check
  .github/workflows/code-check.yml
Labels: none

remove changeset ci
  .github/workflows/renovate-changeset.yml
Labels: none

remove manual snapshot
  .github/workflows/snapshot-release.yml
Labels: none

open tag page
  docs/package.json
  package.json
  packages/common/package.json
  packages/design/package.json
  packages/eslint-config/package.json
  packages/mailer/package.json
  packages/prettier-config/package.json
  pnpm-lock.yaml
  scripts/release.mjs
Labels: none

fix prerelease version
  scripts/release.mjs
Labels: none

test publish-release.mjs
  .github/workflows/code-check.yml
  .github/workflows/release.yml
  docs/package.json
  package.json
  packages/common/package.json
  packages/design/package.json
  packages/eslint-config/package.json
  packages/mailer/package.json
  packages/prettier-config/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/prepare-release.mjs
  scripts/publish-release.mjs
Labels: none
