Repository PedakiHQ/pedaki, changes with the labels that .github/labeler.yml gives for each.
All labels: design, mailer, common, packages, 📚 documentation, 🖥️ www

use node 20
  .nvmrc
  docs/package.json
  package.json
  packages/common/package.json
  packages/design/package.json
  packages/eslint-config/package.json
  packages/mailer/package.json
  pnpm-lock.yaml
Labels: none

use node 20 (#151)
  .nvmrc
  docs/package.json
  package.json
  packages/common/package.json
  packages/design/package.json
  packages/eslint-config/package.json
  packages/mailer/package.json
  pnpm-lock.yaml
Labels: none

update dependencies
  package.json
  packages/common/package.json
  packages/design/package.json
  packages/mailer/package.json
  pnpm-lock.yaml
Labels: none

fix button stroke disabled border
  packages/design/src/ui/button.tsx
Labels: design

dialog title style
  packages/design/src/ui/dialog.tsx
Labels: design

add dropzone
  packages/design/src/ui/dialog.tsx
  packages/design/src/ui/dropzone.tsx
Labels: design

fix return wrap with loading
  packages/common/src/utils/wrap-with-loading.ts
Labels: common

add DayPicker
  packages/design/package.json
  packages/design/src/ui/button.tsx
  packages/design/src/ui/calendar.tsx
  packages/design/src/ui/daypicker.tsx
  packages/design/src/ui/dropzone.tsx
  packages/design/src/ui/icons/IconCalendar.tsx
  packages/design/src/ui/icons/index.ts
  packages/design/tsup.config.ts
  pnpm-lock.yaml
Labels: design

add year/month picker
  packages/design/src/tailwind/index.css
  packages/design/src/ui/calendar.tsx
  packages/design/src/ui/daypicker.tsx
  packages/design/src/ui/popover.tsx
Labels: design

format
  packages/design/src/ui/button.tsx
  packages/design/src/ui/calendar.tsx
Labels: design

add date-fns in peer deps
  packages/design/package.json
  pnpm-lock.yaml
Labels: none

fix typo in class name
  packages/design/src/ui/card.tsx
Labels: design

update dependencies
  docs/package.json
  package.json
  packages/common/package.json
  packages/common/tsconfig.json
  packages/design/package.json
  packages/design/tsconfig.json
  packages/eslint-config/package.json
  packages/mailer/package.json
  packages/mailer/tsconfig.json
  pnpm-lock.yaml
Labels: design, mailer, common

sheet title
  packages/design/src/ui/sheet.tsx
Labels: design

add IconListOrdered
  packages/design/src/ui/icons/IconListOrdered.tsx
  packages/design/src/ui/icons/index.ts
Labels: design

add IconCircle
  packages/design/src/ui/icons/IconCircle.tsx
  packages/design/src/ui/icons/index.ts
Labels: design

add IconGripVertical2
  packages/design/src/ui/icons/IconGripVertical2.tsx
  packages/design/src/ui/icons/index.ts
Labels: design

add Icons
  packages/common/package.json
  packages/design/package.json
  packages/design/src/ui/icons/IconArrowDownRight.tsx
  packages/design/src/ui/icons/IconArrowRight2.tsx
  packages/design/src/ui/icons/IconPencil.tsx
  packages/design/src/ui/icons/index.ts
  packages/design/src/ui/tooltip.tsx
  packages/eslint-config/package.json
  packages/mailer/package.json
  pnpm-lock.yaml
Labels: design

remove cmdk deps
  packages/design/package.json
  pnpm-lock.yaml
Labels: none

fix: allow node 18
  docs/package.json
  package.json
  packages/common/package.json
  packages/design/package.json
  packages/eslint-config/package.json
  packages/mailer/package.json
Labels: none

refactor: update dependencies
  docs/package.json
  package.json
  packages/common/package.json
  packages/design/package.json
  packages/eslint-config/package.json
  packages/mailer/package.json
  packages/prettier-config/package.json
  pnpm-lock.yaml
Labels: none

update dependencies
  .gitignore
  docs/package.json
  package.json
  packages/common/package.json
  packages/design/package.json
  packages/eslint-config/package.json
  packages/mailer/package.json
  packages/prettier-config/package.json
  pnpm-lock.yaml
Labels: none

fix: ignore lock
  scripts/prepare-release.mjs
Labels: none

feat: allow publishing only one package manually
  packages/common/package.json
  packages/design/package.json
  scripts/publish-release.mjs
Labels: none

publish prettier
  packages/prettier-config/package.json
Labels: none

don't know if it works but it might be nice to release only one package
  .github/workflows/release.yml
  packages/eslint-config/package.json
Labels: none

end publish prettier
  docs/package.json
  packages/common/package.json
  packages/design/package.json
  packages/eslint-config/package.json
  packages/mailer/package.json
  pnpm-lock.yaml
Labels: none

aaa
  scripts/prepare-release.mjs
Labels: none

fix is-beta
  scripts/publish-release.mjs
Labels: none

update biome
  package.json
  pnpm-lock.yaml
Labels: none

.github/labeler.yml:

'design':
  - any:
      - 'packages/design/**'
      - '!packages/design/**/package.json'
'mailer':
  - any:
      - 'packages/mailer/**'
      - '!packages/mailer/**/package.json'
'common':
  - any:
      - 'packages/common/**'
      - '!packages/common/**/package.json'
'packages':
  - any:
      - 'packages/eslint-config/**'
      - '!packages/eslint-config/**/package.json'
      - 'packages/prettier-config/**'
      - '!packages/prettier-config/**/package.json'
'📚 documentation':
  - any:
      - 'docs/**'
      - '!docs/**/package.json'
'🖥️ www':
  - any:
      - 'www/**'
      - '!www/**/package.json'
